body {
	background-color: rgb(250,250,250);
	margin: 0;
	padding: 30px;
	color: rgb(65,65,65);
	font-family: "Outfit", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

header {
	padding: 0;
}

nav {
	padding: 0 0 60px 0;
}

section.pageDivision {
	border-style: solid;
	border-width: 0 0 1px 0;
	margin: 0 0 120px 0;
	padding: 0 0 120px 0;
}

#development section {
	padding: 0 0 30px 0;
}

#development li {
	list-style: circle inside;
}

#features {
	padding-bottom: 30px;
}

#features section {
	padding: 0 0 120px 0;
}

#techSpecs section {
	padding: 0 0 30px 0;
}

#about section, #newsletter section {
	padding-bottom: 30px;
}

#newsletter .fieldContainer {
	display: flex;
}

#newsletter .field {
	display: inline-flex;
	padding-bottom: 0;
	margin: 0 5px 30px 0;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(65,65,65);
	border-radius: 6px;
	background-color: rgb(255,255,255);
	width: 50%;
	height: 40px;
}

#newsletter .field p {
	display: inline-block;
	line-height: 40px;
	padding: 0 0 0 10px;
	color: rgb(170,170,170);
	font-size: 18px;
}

#newsletter .button {
	display: inline-flex;
	padding-bottom: 0;
	margin: 0 0 30px 0;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(65,65,65);
	border-radius: 6px;
	background-color: rgb(100,100,100);
	width: 25%;
	height: 40px;
}

#newsletter .button p {
	display: inline-block;
	line-height: 40px;
	padding: 0;
	color: rgb(255,255,255);
	margin: 0 auto;
	font-size: 18px;
}

p, h1, h2, h3, a, li, table {
	font-size: 24px;
	line-height: 30px;
}

p, h1, h3 {
	padding: 0 0 30px 0;
	margin: 0;
}

h1 {
	font-weight: 900;
}

h2 {
	padding: 0 30px 60px 0;
	margin: 0;
	font-weight: 800;
}

h3 {
	font-weight: 600;
	padding-right: 30px;
}

a {
	color: rgb(65,65,65);
	text-decoration: underline;
}

nav a {
	text-decoration: none;
}

nav li {
	padding-right: 30px;
}

a:hover {
	background-color: rgba(0,0,0,.05)
}

.title {
	font-size: 48px;
	line-height: 60px;
}

.logoDot {
	position: relative;
	top: 4px;
	right: 1px;
}

.logo {
	font-weight: 900;
}

ul {
	padding: 0 0 20px 0;
	margin: 0;
}

li {
	padding-bottom: 10px;
	padding-right: 30px;
	list-style-type: none;
}

.stepComplete {
	text-decoration: line-through;
}

.stepUpcoming {
	color: rgb(200,200,200);
}

table {
	display: grid;
	margin: 0 0 20px 0;
	grid-template-columns: 1fr 1fr;
}

thead, tbody, tr {
	display: contents;
}

td {
	padding: 0 30px 10px 0;
}

div {
	padding: 0 0 30px 0;
	margin: 0;
}

img {
	width: 100%;
	height: auto;
	object-fit: contain;
	margin: 0;
}

@media only screen and (min-width: 500px) {
	
	.featureList ul{
		display: grid;
		grid-template-columns: 1fr 1fr;
		padding-bottom: 0;
	}

	.featureList li {
		padding-bottom: 30px;
	}
	
@media only screen and (min-width: 700px) {

	.gridHeader	{ grid-area: header; }
	.gridText	{ grid-area: text; }
	.gridImage	{ grid-area: image; }
	.gridList	{ grid-area: list; }
	
	header {
		display: grid;
		grid-template-rows: auto;
		grid-row-gap: 0;
		grid-template-areas:
			'header list' ;
	}

	nav {
		justify-content: flex-end;
	}
	
	nav ul {
		display: inline-flex;
		float: right;
	}

	#development {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}
		
	#development section, #development h2 {
		display: block;
		grid-column-start: 1;
		grid-column-end: 3;
	}
	
	#features section {
		display: grid;
	}
	
	.fullWidth {
		grid-template-areas:
			'header header header'
			'text text .'
			'image image image' ;
		grid-template-columns: 1fr 1fr 1fr;
	}
	
	.leftAligned {
		grid-template-areas:
			'header image image'
			'text image image'
			'. image image' ;
		grid-template-columns: 1fr 1fr 1fr;
	}
	
	#features .leftAligned h3 {
		text-align: left;
		padding-right: 60px;
	}
	
	.leftAligned p {
		padding-right: 60px;
	}
	
	.rightAligned {
		grid-template-areas:
			'image image header'
			'image image text'
			'image image .';
		grid-template-columns: 1fr 1fr 1fr;
	}
	
	#features .rightAligned h3 {
		text-align: left;
		padding-left: 60px;
	}
	
	.rightAligned p {
		padding-left: 60px;
	}
	
	#features .featureList {
		display: block;
	}
	
	.featureList ul{
		grid-template-columns: 1fr 1fr 1fr;
	}
	
	#techSpecs section {
		display: grid;
		grid-template-columns: 1fr 2fr;
	}
	
	#about, #newsletter {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}
	
	#about section, #newsletter section {
		grid-column-start: 1;
		grid-column-end: 3;
	}

	.imageOnly {
		display: grid;
		grid-template-columns: 1fr;
	}
	
	table {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	img {
		display: block;
	}

}

@media only screen and (min-width: 900px) {

	body {
		width: 840px;
		margin: auto;
		padding: 30px;
	}

	.image-grid {
		grid-template-columns: 1fr 1fr 1fr;
	}
	

/* lightbox */

.lightbox {
	display: none;
	position: relative;
	z-index: 999;
	width: inherit;
	height: 100vh;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: rgba(255,255,255,0.8);
}

.fixed {
	position: fixed;
}

.lightbox:hover {
	background: rgba(255,255,255,0.8);
}

.lightbox img {
	max-width: 100%;
	max-height: 100%;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.lightbox:target {
	outline: none;
	display: block;
}





