body {
	background-color: rgb(245,245,245);
	margin: 0;
	padding: 15px;
	color: rgb(40,40,40);
	font-family: "Source Sans 3", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

header {
	padding: 0;
}

nav {
	padding: 0 0 60px 0;
}

nav a {
	text-decoration: none;
}

nav li {
	padding-right: 0;
	text-transform: lowercase;
}

section.pageDivision {
	border-style: solid;
	border-color: rgb(180,180,180);
	border-width: 0 0 1px 0;
	margin: 0;
	padding: 15px 0 60px 0;
}

footer {
	padding-top: 60px;
}

p, h1, h2, a, li, table {
	font-size: 20px;
	line-height: 24px;
}

p, h1, h3 {
	padding: 0 0 15px 0;
	margin: 0;
}

h1 {
	font-weight: 900;
}

h2 {
	padding: 0 30px 120px 0;
	margin: 0;
	font-weight: 900;
	letter-spacing: 1px;
	text-transform: lowercase;
}

h3 {
	font-weight: 800;
	padding-right: 30px;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 1px;
}

#development section {
	padding: 0 0 30px 0;
}

#development div {
	padding: 0 0 30px 0;
}

#development ul li {
	list-style: circle outside;
	margin-left: 24px;
}

#development p {
	padding-right: 30px;
}

#features {
	padding-bottom: 0;
}

#features section {
	padding: 0 0 105px 0;
}

#sale {
	padding-bottom: 105px;
}

#techSpecs {
	background: radial-gradient(ellipse, rgb(245,245,245) 50%, rgb(240,240,240));
}

#techSpecs h2, #techSpecs h3, #techSpecs div, #techSpecs ul, #techSpecs table {
	padding-left: 15px;
	padding-right: 15px;
}

#techSpecs section {
	padding: 0 0 30px 0;
}

#techSpecs img {
	padding-bottom: 30px;
}

#about section, #connect section {
	padding-bottom: 45px;
}

div#mc_embed_signup_scroll {
}

#mc_embed_signup {
	font-family: "Source Sans 3", sans-serif;
	font-weight: 400;
	font-style: normal;
}

div#mc-field-group {
	flex: 50%;
}

form#mc-embedded-subscribe-form {
	margin-block-end: 0;
}

div.mc-field-group label {
	padding-right: 15px;
	line-height: 40px;
	font-size: 18px;
	color: rgb(40,40,40);
}

input#mce-EMAIL.required.email, input#mce-EMAIL.required.email:focus-visible {
	display: block;
	height: 40px;
	box-shadow: 5px 5px 0 rgb(120,120,120);
	border-style: solid;
	border-width: 1px;
	border-color: rgb(80,80,80);
	border-radius: 0;
	background-color: rgb(255,255,255);
	margin-right: 15px;
	line-height: 40px;
	font-size: 18px;
	color: rgb(40,40,40);
	padding-left: 10px;
	margin: 0 15px 15px 0;
	font-family: "Source Sans 3", sans-serif;
	width: 75%;
}

div.optionalParent {
}

input.button {
	display: inline-flex;
	padding-bottom: 0;
	margin: 0 0 30px 0;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(80,80,80);
	border-radius: 0;
	background-color: rgb(230,230,230);
	width: 50%;
	height: 40px;
	box-shadow: 5px 5px 0 rgb(120,120,120);
	line-height: 40px;
	font-size: 18px;
	color: rgb(40,40,40);
	font-family: "Source Sans 3", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

input.button:hover {
	background-color: rgb(180,180,180);
}

input.button:active {
	background-color: rgb(230,230,230);
}

div.clear.foot p {
	margin: 0;
	width: 75%;
	text-align: center;
}

img.refferal_badge {
	opacity: 0.2;
}

a {
	color: rgb(40,40,40);
	text-decoration: underline;
}

a:hover {
	background-color: rgba(0,0,0,.05)
}

.title {
	font-size: 48px;
	line-height: 60px;
}

.logo {
	font-family: "Outfit", sans-serif;
	font-weight: 900;
	text-transform: none;
}

.logoDot {
	position: relative;
	top: 3px;
	right: 1px;
	padding-left: 1px;
}

ul {
	padding: 0 0 15px 0;
	margin: 0;
}

li {
	padding-bottom: 15px;
	padding-right: 30px;
	list-style-type: none;
}

.stepComplete {
	text-decoration: line-through;
}

table {
	display: grid;
	padding: 0 0 15px 0;
	grid-template-columns: 1fr 1fr;
}

#sale table {
	margin: 15px 0 30px 0;
	padding: 30px 15px 15px 15px;
	background: radial-gradient(ellipse, rgb(245,245,245) 50%, rgb(240,240,240));
	border-style: solid;
	border-color: rgb(180,180,180);
	border-width: 1px 0;
}

thead, tbody, tr {
	display: contents;
}

td {
	padding: 0 30px 15px 0;
}

div {
	padding: 0;
	margin: 0;
}

img {
	width: 100%;
	height: auto;
	object-fit: contain;
	padding: 0 0 15px 0;
	margin: 0;
}

@media only screen and (min-width: 500px) and (max-width: 699px) {
	
	p {
		width: 66%;
	}
	
	table {
		grid-template-columns: 1fr 2fr;
	}

	#sale table {
		width: 66%;
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	input#mce-EMAIL.required.email, input#mce-EMAIL.required.email:focus-visible {
		width: 50%;
	}
	
	input.button {
		width: 25%;
	}

	div.clear.foot p {
		width: 50%;
	}

	
}

@media only screen and (min-width: 700px) {

	body {
		padding: 30px;
	}
	
	.gridHeader	{ grid-area: header; }
	.gridText	{ grid-area: text; }
	.gridImage	{ grid-area: image; }
	.gridList	{ grid-area: list; }
	
	header {
		display: grid;
		grid-template-rows: auto;
		grid-row-gap: 0;
		grid-template-areas:
			'header list' ;
	}

	p, h1, h2, a, li, table {
		font-size: 24px;
		line-height: 30px;
	}
	
	h3 {
		font-size: 18px;
	}

	nav {
		justify-content: flex-end;
	}
	
	nav ul {
		display: inline-flex;
		float: right;
	}
	
	nav li {
		padding-left: 20px;
	}
		
	#heroImage section {
		display: grid;
	}
	
	#development {
		display: grid;
		grid-template-columns: 2fr 1fr; 
	}
	
	#development h2 {
		grid-column-start: 1;
		grid-column-end: 3;
	}

	#features section {
		display: grid;
	}
	
	.fullWidth {
		display: grid;
		grid-template-areas:
			'header header header'
			'text text .'
			'image image image' ;
		grid-template-columns: 1fr 1fr 1fr;
	}
	
	.leftAligned {
		grid-template-areas:
			'header image image'
			'text image image'
			'. image image' ;
		grid-template-columns: 1fr 1fr 1fr;
	}

	#features .leftAligned h3, #features .leftAligned p {
		text-align: right;
		padding-right: 30px;
	}
	
	.rightAligned {
		grid-template-areas:
			'image image header'
			'image image text'
			'image image .';
		grid-template-columns: 1fr 1fr 1fr;
	}
	
	#features .rightAligned h3, #features .rightAligned p {
		text-align: left;
		padding-left: 30px;
	}
	
	#features .featureList {
		display: block;
	}
	
	.featureList ul{
		grid-template-columns: 1fr 1fr 1fr;
	}
	
	#sale section {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}
	
	#sale h2 {
		grid-column-start: 1;
		grid-column-end: 4;
	}
	
	#sale p {
		grid-column-start: 1;
		grid-column-end: 3;
	}
	
	#sale table {
		grid-column-start: 1;
		grid-column-end: 3;
		grid-template-columns: 1fr 1fr;
	}
		
	#techSpecs section {
		display: grid;
		grid-template-columns: 1fr 2fr;
	}
	
	#techSpecs div, #techSpecs ul, #techSpecs table {
		padding-left: 0;
	}
	
	#about, #connect {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}
	
	#about section, #connect section {
		grid-column-start: 1;
		grid-column-end: 3;
	}

	.imageOnly {
		display: grid;
		grid-template-columns: 1fr;
	}
	
	table {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	img {
		display: block;
	}

	input#mce-EMAIL.required.email, input#mce-EMAIL.required.email:focus-visible {
		width: 50%;
	}
	
	input.button {
		width: 25%
	}

	div.clear.foot p {
		width: 50%;
	}
	
}

@media only screen and (min-width: 900px) {

	body {
		width: 840px;
		margin: auto;
		padding: 30px;
	}

	.image-grid {
		grid-template-columns: 1fr 1fr 1fr;
	}
	

/* lightbox */

.lightbox {
	display: none;
	position: relative;
	z-index: 999;
	width: inherit;
	height: 100vh;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: rgba(255,255,255,0.8);
}

.fixed {
	position: fixed;
}

.lightbox:hover {
	background: rgba(255,255,255,0.8);
}

.lightbox img {
	max-width: 100%;
	max-height: 100%;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.lightbox:target {
	outline: none;
	display: block;
}





