body {
	background-color: rgb(250,250,250);
	margin: 0;
	padding: 30px;
	color: rgb(65,65,65);
	font-family: "Outfit", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

header {
	border-style: solid;
	border-width: 0 0 1px 0;
	padding: 0;
}

nav {
	padding: 0 0 60px 0;
}

section.pageDivision {
	border-style: solid;
	border-width: 0 0 1px 0;
	margin: 0;
	padding: 120px 0 0 0;
}

section.feature {
	padding: 0 0 90px 0;
}

section.technical {
	padding: 0 0 30px 0;
}

section.technical.lastTechnical {
	padding: 0 0 90px 0;
}

footer {
	padding: 30px 0 0 0;
}

p, h1, h2, h3, a, li, table {
	font-size: 24px;
	line-height: 30px;
}

p, h1, h2, h3 {
	padding: 0 0 30px 0;
	margin: 0;
}

#techSpecs h2 {
	padding-bottom: 60px;
}

.subSection.feature h2, .subSection.feature h3, .subSection.feature p, .subSection.feature ul {
	text-align: center;
}

.featureList {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 30px;
}

a {
	color: rgb(65,65,65);
	text-decoration: underline;
}

nav a {
	text-decoration: none;
}

nav li {
	padding-right: 30px;
}

a:hover {
	background-color: rgba(0,0,0,.05)
}

h1 {
	font-weight: 900;
}

.title {
	font-size: 48px;
	line-height: 60px;
	grid-column-start: 1;
	grid-column-end: 4;
	display: grid;
	text-align: center;
}

.logoDot {
	position: relative;
	top: 4px;
	right: 1px;
}

h2 {
	font-weight: 800;
}

.logo {
	font-weight: 900;
}

h3 {
	font-weight: 600;
}

ul {
	padding: 0 0 18px 0;
	margin: 0;
}

li {
	padding-bottom: 12px;
	list-style-type: none;
}

.stepComplete {
	text-decoration: line-through;
}

.stepUpcoming {
	color: rgb(170,170,170);
}

body section table {
	margin: 0 0 18px 0;
	display: grid;
}

table {
	grid-template-columns: 1fr 1fr;
}

thead, tbody, tr {
	display: contents;
}

td {
	padding: 0 30px 12px 0;
}

div {
	padding: 0 0 30px 0;
	margin: 0;
}

img {
	width: 100%;
	height: auto;
	object-fit: contain;
	margin: 0;
}

@media only screen and (min-width: 500px) {
	
@media only screen and (min-width: 700px) {

	section, header {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-rows: auto;
		grid-row-gap: 0;
	}

	nav {
		float: right;
		grid-column-start: 3;
		grid-column-end: 7;
		justify-content: flex-end;
	}
	
	.subSection.feature, .feature ul, .feature div, .title, .subSection.technical {
		grid-column-start: 1;
		grid-column-end: 7;
	}
	
	.feature p {
		display: grid;
		grid-column-start: 2;
		grid-column-end: 6;
	}
	
	.technical p {
		grid-column-start: 1;
		grid-column-end: 5;
	}
	
	h1 {
		grid-column-start: 1;
		grid-column-end: 3;
	}

	h2, h3 {
		grid-column-start: 1;
		grid-column-end: 7;
	}
	
	.technical h3 {
		grid-column-start: 1;
		grid-column-end: 3;
	}
	
	.technical div, .technical ul, .technical table {
		display: grid;
		grid-column-start: 3;
		grid-column-end: 7;
	}
	
	.featureList {
		grid-column-start: 1;
		grid-column-end: 7;
		grid-template-columns: 1fr 1fr 1fr;
	}
	
	.featureList ul {
		text-align: center;
		padding: 0;
	}

	.featureList li {
		padding: 0 0 30px 0;
	}

	nav ul {
		display: inline-flex;
		float: right;
	}
	
	table {
		display: grid;
		grid-column-start: 2;
		grid-column-end: 4;
		grid-template-columns: 1fr 1fr;
	}

	img {
		display: block;
	}

}

@media only screen and (min-width: 900px) {

	body {
		width: 840px;
		margin: auto;
		padding: 30px;
	}

	.image-grid {
		grid-template-columns: 1fr 1fr 1fr;
	}
	

/* lightbox */

.lightbox {
	display: none;
	position: relative;
	z-index: 999;
	width: inherit;
	height: 100vh;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: rgba(255,255,255,0.8);
}

.fixed {
	position: fixed;
}

.lightbox:hover {
	background: rgba(255,255,255,0.8);
}

.lightbox img {
	max-width: 100%;
	max-height: 100%;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.lightbox:target {
	outline: none;
	display: block;
}





