body {
	background-color: rgb(250,250,250);
	margin: 0;
	padding: 30px;
	color: rgb(65,65,65);
	font-family: "Outfit", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

header {
	border-style: solid;
	border-width: 0 0 1px 0;
	padding: 0;
}

nav {
	padding: 0 0 60px 0;
}

section.pageDivision {
	border-style: solid;
	border-width: 0 0 1px 0;
	margin: 0;
	padding: 90px 0 0 0;
}

section.subSection {
	padding: 0 0 90px 0;
}

footer {
	padding: 30px 0 0 0;
}

p, h1, h2, h3, a, li, table {
	font-size: 24px;
	line-height: 30px;
}

p, h1, h2, h3 {
	padding: 0 0 30px 0;
	margin: 0;
}

.subSection h2, .subSection p, .subSection ul {
	text-align: center;
}

a {
	color: rgb(65,65,65);
	text-decoration: underline;
}

nav a {
	text-decoration: none;
}

a:hover {
	background-color: rgba(0,0,0,.05)
}

h1 {
	font-weight: 900;
}

.title {
	font-size: 48px;
	line-height: 60px;
	grid-column-start: 1;
	grid-column-end: 4;
	display: grid;
}

.logoDot {
	position: relative;
	top: 4px;
	right: 1px;
}

h2 {
	font-weight: 800;
}

.logo {
	font-weight: 900;
}

h3 {
	font-weight: 600;
}

ul {
	padding: 0;
	margin: 0 0 18px 0;
}

li {
	padding: 0 0 12px 0;
	list-style-type: none;
}

body section table {
	margin: 0 0 18px 0;
	display: grid;
}

thead, tbody, tr {
	display: contents;
}

td {
	padding: 0 30px 12px 0;
}

div {
	padding: 0 0 30px 0;
	margin: 0;
}

img {
	width: 100%;
	height: auto;
	object-fit: contain;
	margin: 0;
}

@media only screen and (min-width: 500px) {
	
	table {
		grid-template-columns: 1fr 1fr;
	}
	
	.image-grid {
		grid-template-columns: 1fr 1fr;
	}
	
}
	
@media only screen and (min-width: 700px) {

	section, header {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: auto;
		grid-row-gap: 0;
	}

	nav {
		float: right;
		grid-column-start: 2;
		grid-column-end: 4;
		justify-content: flex-end;
	}
	
	nav li {
		padding-left: 12px;
	}
	
	h1 {
		grid-column-start: 1;
		grid-column-end: 2;
	}

	h2, h3 {
		grid-column-start: 1;
		grid-column-end: 6;
	}
	
	p {
		grid-column-start: 1;
		grid-column-end: 3;
	}	

	ul {
		display: grid;
		grid-column-start: 2;
		grid-column-end: 3;
	}
	
	.featureList {
		grid-column-start: 1;
		grid-column-end: 4;
		grid-template-columns: 1fr 1fr 1fr;
	}

	li {
		display: inline-flex;
		padding: 0 0 12px 0;
	}
	
	.itemList li {
		display: block;
	
	}
	.featureList li {
		padding: 0 0 30px 0;
	}

	nav ul {
		display: inline-flex;
		float: right;
	}
	
	table {
		display: grid;
		grid-column-start: 2;
		grid-column-end: 4;
		grid-template-columns: 1fr 1fr;
	}

	.image-grid {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	}
	
	img {
		display: block;
	}

	.full {
		grid-column-start: 1;
		grid-column-end: 4;
		margin: 60px 0;
	}
	
	.left23 {
		grid-column-start: 1;
		grid-column-end: 3;
	}

	.right23 {
		grid-column-start: 2;
		grid-column-end: 4;
	}
	
	div.right23, div.left23 {
		margin-bottom: 120px;
	}
	
	a.full, p.full {
		grid-column-start: 1;
		grid-column-end: 4;
	}
	
	a.right-13, p.right-13 {
		grid-column-start: 3;
		grid-column-end: 4;
	}
	
	a.right-23, p.right-23 {
		grid-column-start: 2;
		grid-column-end: 4;
	}
	
	a.left-13, p.left-13 {
		grid-column-start: 1;
		grid-column-end: 2;
	}
	
	a.left-23, p.left-23 {
		grid-column-start: 1;
		grid-column-end: 3;
	}

}

@media only screen and (min-width: 900px) {

	body {
		width: 800px;
		margin: auto;
		padding: 50px;
	}

	.image-grid {
		grid-template-columns: 1fr 1fr 1fr;
	}
	

/* lightbox */

.lightbox {
	display: none;
	position: relative;
	z-index: 999;
	width: inherit;
	height: 100vh;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: rgba(255,255,255,0.8);
}

.fixed {
	position: fixed;
}

.lightbox:hover {
	background: rgba(255,255,255,0.8);
}

.lightbox img {
	max-width: 100%;
	max-height: 100%;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.lightbox:target {
	outline: none;
	display: block;
}





