body {
	background-color: rgb(250,250,250);
	margin: 0;
	padding: 35px;
	color: rgb(65,65,65);
	font-family: "Outfit", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

img {
	width: 100%;
	height: auto;
	object-fit: contain;
	margin: 0 0 35px;
}

header {
	border-style: solid;
	border-width: 0 0 1px 0;
}

section {
	border-style: solid;
	border-width: 0 0 1px 0;
	margin: 0;
	padding: 35px 0 70px 0;
}

footer {
	padding: 35px 0 0 0;
}

p, h1, h2, h3, a, li {
	font-size: 30px;
	line-height: 35px;
}

p, h1, h2, h3 {
	margin: 0 0 35px 0;
}

h1 {
	font-weight: 900;
}

.title {
	font-size: 60px;
	line-height: 70px;
	margin: 70px 0;
}

.logoDot {
	position: relative;
	top: 4px;
	right: 1px;
}

h2 {
	font-weight: 600;
}

.logo {
	font-weight: 900;
}

h3 {
	font-weight: 400;
}

ul {
	padding: 0;
	margin: 0 0 35px 0;
}

li {
	padding: 0 0 35px 0;
}

a {
	color: rgb(65,65,65);
	text-decoration: none;
}

a:hover {
	background-color: rgba(0,0,0,.05)
}

section a {
	text-decoration: underline;
}

@media only screen and (min-width: 500px) {
	
	.image-grid {
		grid-template-columns: 1fr 1fr;
	}
	
}
	
@media only screen and (min-width: 700px) {

	section {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		grid-template-rows: auto;
		grid-row-gap: 0;
	}

	h1 {
		grid-column-start: 1;
	}

	h2, h3 {
		grid-column-start: 1;
		grid-column-end: 6;
	}
	
	p {
		grid-column-start: 1;
		grid-column-end: 6;
	}	

	ul {
		display: grid;
		grid-column-end: 6;
		grid-column-start: 2;
		grid-template-columns: 1fr 1fr;
	}
	
	li {
		display: flex;
	}
	
	.image-grid {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	}
	
	img {
	}

	a.full, p.full {
		grid-column-start: 1;
		grid-column-end: 4;
	}
	
	a.right-13, p.right-13 {
		grid-column-start: 3;
		grid-column-end: 4;
	}
	
	a.right-23, p.right-23 {
		grid-column-start: 2;
		grid-column-end: 4;
	}
	
	a.left-13, p.left-13 {
		grid-column-start: 1;
		grid-column-end: 2;
	}
	
	a.left-23, p.left-23 {
		grid-column-start: 1;
		grid-column-end: 3;
	}

}

@media only screen and (min-width: 900px) {

	body {
		width: 800px;
		margin: auto;
		padding: 50px;
	}

	.image-grid {
		grid-template-columns: 1fr 1fr 1fr;
	}
	

/* lightbox */

.lightbox {
	display: none;
	position: relative;
	z-index: 999;
	width: inherit;
	height: 100vh;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: rgba(255,255,255,0.8);
}

.fixed {
	position: fixed;
}

.lightbox:hover {
	background: rgba(255,255,255,0.8);
}

.lightbox img {
	max-width: 100%;
	max-height: 100%;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.lightbox:target {
	outline: none;
	display: block;
}





